{% load staticfiles %}
<div class="footer">
    <div class="footer_main">
        <div class="img_footer">
           <p class="footer_img_logo">
            <img src="{% static "images/img_site/footer_img_logo.png" %}" alt="footer_img_logo" />
           </p>
           <p class="footer_img_logo_bottom">
            <img
                    src="{% static "images/img_site/footer_img_logo_bottom.png" %}"
                    alt="footer_img_logo_bottom" />
           </p>
        </div>
        <div class="text_footer">
            <p class="autor_text">Все права защищены. Полное или частичное копирование <br />материалов запрещено.
                При согласованном использовании <br />материала, необходима ссылка на ресурс.</p>
            <p class="development">Website Development &amp; Design<br />
                by Aleksey Povar<br />
                contact e-mail:  <span>alekseypovar@gmail.com</span></p>
        </div>
    </div>
</div>